<% if @chatroom.sender != current_user %>
<% @interlocutor = @chatroom.sender %>
 <% else %>
<% @interlocutor = @chatroom.recipient %>
<% end %>
<% @counter = 0  %>
<% @chatroom.sender.chats.each do |chat| %>
<% if chat.read == false %>
<% @counter += 1 %>
<% end %>
<% end %>
  <%#= @all_messages.count %>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-3 col-md-2" id="sidebar-background" style="background-image: url(<%= asset_path "messages.png" %>);">
      <% @chatrooms.each do |chatroom| %>
        <%= link_to chatroom_path(chatroom) do %>
          <p class="chat-list my-3 alata text-center"><%= "Chat with #{current_user == chatroom.sender ? chatroom.recipient.first_name.capitalize  : chatroom.sender.first_name.capitalize}" %></p>
        <% end %>
      <% end %>
    </div>
    <div class="col-12 col-sm-9 col-md-10 bg-light" style="height:100vh;">
      <div class="container-fluid">
        <div>
          <h4 class="mb-4 mt-5 text-center">
            <% if @interlocutor.avatar_url %>
              <%= image_tag @interlocutor.avatar_url, class: "chat-img mr-2" %>
            <% end %>
            <%= "iCareChat with #{@interlocutor.first_name} #{@interlocutor.surname}" %>
          </h4>
        </div>
        <div class="chat-text-input chatbox-input" style="display:flex;">
          <%= simple_form_for([@chatroom, @chat]) do |f| %>
            <%= f.input :message, placeholder: "Type your message...", label: false %>
            <%= f.submit 'Send', class: 'send_btn mb-4' %>
          <% end %>
        </div>
        <div class="container" id="special-message-container">
          <!-- FIGURE OUT HOW TO SORT CHATS SO MOST RECENT ARE FIRST -->
          <% @chatroom.chats.reverse.each do |chat| %>

            <% if chat.user == current_user %>
              <%= render "chatrooms/right_message", chat: chat %>
            <% else %>
              <%= render "chatrooms/left_message", chat: chat %>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    var channel = pusher.subscribe('chat-channel');
    channel.bind('message-created', (data) => {
      let message = data.message;

      if (data.current_user === data.sender_id ) {
        document.getElementById('special-message-container').insertAdjacentHTML('beforebegin', `
          <div class="">
            <div class="d-inline-flex pb-1 chatbox">
              <div class="chat-bubble">
                <p class="chat-details">${ data.user_email }</p>
                <p style="font-size: 1.1em;" class="m-0 chat-message">${message}</p>
              </div>
            </div>
          </div>
          <div class="">

            <p class="chat-time mr-2 mt-4">${data.timestamp}</p>

          </div>
        `);

      } else {
        document.getElementById('special-message-container').insertAdjacentHTML('afterbegin', `
          <div class="d-flex justify-content-end">
            <div class="d-inline-flex pb-1 chatbox">
              <div class="chat-bubble chat-bubble-right">
                <p class="chat-details">${ data.user_email }</p>
                <p style="font-size: 1.1em;" class="m-0 chat-message color-blue">${message}</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">

            <p class="chat-time mr-2 mt-4">${data.timestamp}</p>

          </div>

        `);

      }
      document.getElementById('chat_message').value = "";
      document.getElementById('submit_message').disabled = false;
    });
</script>
