<% unless current_user.host %>
<h1>Book this room</h1>

<%= simple_form_for [room, booking] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :number_of_adults, input_html: { min: '0' } %>
    <%= f.input :number_of_children, input_html: { min: '0' } %>
    <%= f.input :number_of_infants, input_html: { min: '0' } %>
    <%= f.input :guest_id, collection: current_user.charities.first.guests %>
    <%= f.input :start_date, as: :string, class: 'form-control datepicker', input_html: {type: :date, value: Time.now.strftime("%Y-%m-%d") } %>
    <%= f.input :end_date, as: :string, class: 'form-control datepicker', input_html: {type: :date, value: (Time.now+86400).strftime("%Y-%m-%d")} %>
  </div>

  <div class="form-actions">
 <%= f.button :submit, class: "btn btn-secondary mt-4 mb-5", id: "sweet-alert-demo" %>
  </div>
<% end %>
<% end %>
