  <% if booking_requests.empty? %>

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="card my-3">
          <div class="card-header card-header-grey" style="border-top-right-radius: 15px; border-top-left-radius: 15px;">
            <h4 class="float-left white-font">Booking Requests<i class="fas fa-hourglass-half ml-3 mt-2"></i></h4>
          </div>
          <div class="card-body">
            <p class="card-text">You have no booking requests at the moment.</p>
          </div>
        </div>
      </div>
    </div>

    <% else %>

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="card my-3">
          <div class="card-header card-header-grey" style="border-top-right-radius: 15px; border-top-left-radius: 15px;">
            <h4 class="float-left white-font">Booking Requests<i class="fas fa-hourglass-half ml-3 mt-2"></i>
          </div>

          <% counter = 1 %>
          <% booking_requests.each do |booking| %>

            <div class="card-body">
              <div class="dash_content w-100">
                <%= cl_image_tag booking.room.photo_url_or_default, alt: booking.room.address, class: "max_image_size hidden-small mr-5" %>
                <div id="table_center">
                  <h5 class="card-title">
                  <%= link_to room_path(booking.room), class: "card-title" do %>
                    <%= booking.room.beds %> <%= booking.room.beds == 1 ? 'Bed' : 'Beds' %> - <%= booking.room.address  %>
                  <% end %>
                  </h5>
                  <!-- <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %></span></i> -->
                  <i class="fas fa-shower mt-2 mb-4 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                  <br><i class="mr-2"><span class="card-detail-text btn btn-sm btn-secondary card-button"><%= link_to "Details", booking_path(booking) %></span></i>
                  <i class="mr-2"><span class="card-detail-text btn btn-sm card-button edit_button"><%= link_to "Edit", edit_booking_path(booking) %></span></i>
                  <% if booking.declined == false %>
                    <i class="mr-2"><span class="card-detail-text btn btn-sm card-button green_button"><%= link_to "Confirm", confirmed_booking_path(booking), method: :post %></span></i>
                    <i class="mr-2"><span class="card-detail-text btn btn-sm card-button red_button"><%= link_to "Decline", declined_booking_path(booking), method: :post, data: {confirm: "Are you sure?"} %></span></i>
                  <% end %>
                </div>
              </div>
            </div>

            <% if counter < booking_requests.length %>
              <hr style="margin:0;">
            <% counter += 1 %>
            <% end %>

          <% end %>
        </div>
      </div>

    </div>

  <% end %>
