  <% declined_bookings = bookings.select { |booking| booking.declined == true } %>

  <% unless declined_bookings.count.zero? %>

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <div class="card mt-3 mb-5">
          <div class="card-header card-header-red" style="border-top-right-radius: 15px; border-top-left-radius: 15px;">
            <h4 class="float-left white-font">Declined Bookings<i class="fas fa-times-circle ml-3 mt-2"></i>
          </div>

          <% counter = 1 %>
          <% declined_bookings.reverse.each do |booking| %>

            <div class="card-body">
              <div class="dash_content w-100">
                <%= cl_image_tag booking.room.photo_url_or_default, alt: booking.room.address, class: "max_image_size hidden-small mr-5" %>
                <div id="table_center">
                  <h5 class="card-title">
                  <%= link_to room_path(booking.room), class: "card-title" do %>
                    <%#= booking.room.beds %> <%#= booking.room.beds == 1 ? 'Bed' : 'Beds' %> <!-- - --><%= booking.room.address  %>
                  <% end %>
                  </h5>
                  <!-- <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %></span></i> -->
                  <i class="fas fa-shower mt-2 mb-4 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                  <br><i class="far fa-calendar-alt mt-2 mb-4 main-colour"><span class="card-detail-text">&nbsp <%= booking.start_date %> - <%= booking.end_date %></span></i>
                  <br><i class="mr-2"><span class="card-detail-text btn btn-sm btn-secondary card-button"><%= link_to "Details", booking_path(booking) %></span></i>
                  <i class="mr-2"><span class="card-detail-text btn btn-sm card-button red_button"><%= link_to "Undo", declined_booking_path(booking), method: :post %></span></i>
                </div>
              </div>
            </div>

            <% if counter < declined_bookings.length %>
              <hr style="margin:0;">
            <% counter += 1 %>
            <% end %>

          <% end %>
        </div>
      </div>

    </div>

  <% end %>
