<!-- HOST -->

<% if current_user.host %>

  <div class="container">

    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5"> Welcome to your Host Dashboard, <%= current_user.first_name %>!</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <%= link_to "Add a room", new_room_path, class: "nav-link btn btn-secondary my-2" %>
      </div>
    </div>
    <%= render "host_rooms", rooms: @rooms  %>

    <%= render "host_booking_requests", booking_requests: @booking_requests  %>

    <%= render "host_confirmed_bookings", bookings: @bookings %>

    <%= render "host_declined_bookings", bookings: @bookings %>

  </div>


<% else %>
  <!-- CHARITY -->

  <div class="container">

    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5"> Welcome to your Charity Dashboard, <%= current_user.first_name %>!</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <%= link_to "Search For A Room", search_path, class: "nav-link btn btn-secondary my-2" %>
      </div>
    </div>

    <%= render "charity_pending_bookings", charity_pending_bookings: @charity_pending_bookings %>

    <%= render "charity_confirmed_bookings", charity_confirmed_bookings: @charity_confirmed_bookings %>

    <%= render "charity_declined_bookings", charity_declined_bookings: @charity_declined_bookings %>

  </div>


<% end %>
