<% if current_user.host %>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5"> Welcome to your <%= current_user.host ? 'Host' : 'Charity' %>  dashboard, <%= current_user.first_name %>!</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <%= link_to "Add a room", new_room_path, class: "nav-link btn btn-secondary my-2" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="my-4">Your rooms <i class="far fa-paper-plane main-colour ml-3"></i></h3>
      </div>
      <% current_user.rooms.each do |room| %>
      <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch">
        <div class="card mb-3 card-radius">
          <img class="card-img-top card-image-radius" src=<%= room.image_url %> alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to room_path(room), class:"card-title" do %>
              <%= room.beds %> <%= room.beds == 1 ? 'Bed' : 'Beds' %> - <%= room.address  %></h5>
              <% end %></h5>
            <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= room.beds %></span></i>
            <i class="fas fa-shower mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= room.facilities %> facilities</span></i>
            <i class="mr-2 my-2 main-colour"><span class="card-detail-text"><%= link_to "Edit", edit_room_path(room) %></span></i>
          </div>
        </div>
      </div>
      <% end %>
      <div class="col-12">
        <h3 class="my-4">Booking requests <i class="far fa-paper-plane main-colour ml-3"></i></h3>
      </div>
      <% bookings = current_user.rooms.map { |room| room.bookings }.flatten %>
      <% bookings.each do |booking| %>
        <% if booking.confirmed == false %>
          <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-3 card-radius">
              <img class="card-img-top card-image-radius" src=<%= booking.room.image_url %> alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Room in <%= booking.room.postcode %></h5>
                <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %> beds available</span></i>
                <i class="fas fa-shower mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                <i class="mr-2 my-2 main-colour"><span class="card-detail-text"><%= link_to "Details", booking_path(booking) %></span></i>
                <%= link_to "confirm", confirmed_booking_path(booking), method: :post %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="my-4">Messages <i class="far fa-envelope main-colour ml-3"></i></h3>
          <table class="table table-inbox table-hover">
            <tbody>
              <tr class="unread">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message  dont-show">icareBnb: Room Enquiry for <%= current_user.first_name %></td>
                  <td class="view-message ">Request for a new room</td>
                  <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                  <td class="view-message  text-right">9:27 AM</td>
              </tr>
              <tr class="unread">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message dont-show">icareBnb: Confirming a booking</td>
                  <td class="view-message">Thank you <%= current_user.first_name %>!</td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">March 15</td>
              </tr>
              <tr class="">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message dont-show">icareBnb: Room Check</td>
                  <td class="view-message">Checking Availblilty for these dates <%= current_user.first_name %> </td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">March 15</td>
              </tr>
              <tr class="">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message dont-show">icareBnb: Room</td>
                  <td class="view-message">Hi <%= current_user.first_name %> we wanted to check...</td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">April 01</td>
              </tr>
              <tr class="">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                  <td class="view-message dont-show">icareBnb user <%= current_user.first_name %> <span class="label label-danger pull-right">urgent</span></td>
                  <td class="view-message">Thank you for your response <%= current_user.first_name %> </td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">May 23</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="my-4">Confirmed bookings<i class="fas fa-check-circle main-colour ml-3"></i></h3>
        </div>
        <% bookings = current_user.rooms.map { |room| room.bookings }.flatten %>
        <% bookings.each do |booking| %>
        <% if booking.confirmed %>
            <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch">
              <div class="card mb-5 card-radius">
                <img class="card-img-top card-image-radius" src=<%= booking.room.image_url %> alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Room in <%= booking.room.postcode %></h5>
                  <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %> beds available</span></i>
                  <i class="fas fa-shower mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                  <i class="mr-2 my-2 main-colour"><span class="card-detail-text"><%= link_to "View details", booking_path(booking) %></span></i>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% else %>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5"> Welcome to your <%= current_user.host ? 'Host' : 'Charity' %> dashboard, <%= current_user.first_name %>!</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <%= link_to "Search For A Room", search_path, class: "nav-link btn btn-secondary my-2" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="my-4">Pending bookings <i class="far fa-paper-plane main-colour ml-3"></i></h3>
      </div>

      <% current_user.bookings.each do |booking| %>
        <% if booking.confirmed == false %>


          <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-3 card-radius">
              <img class="card-img-top card-image-radius" src=<%= booking.room.image_url %> alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= link_to room_path(booking.room), class:"card-title" do %>
              <%= booking.room.beds %> <%= booking.room.beds == 1 ? 'Bed' : 'Beds' %> - <%= booking.room.address  %></h5>
              <% end %></h5>
                <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %> beds available</span></i>
                <i class="fas fa-shower mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                <i class="mr-2 my-2 main-colour"><span class="card-detail-text"><%= link_to "View details", booking_path(booking) %></span></i>

              </div>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="my-4">Messages <i class="far fa-envelope main-colour ml-3"></i></h3>
          <table class="table table-inbox table-hover">
            <tbody>
              <tr class="unread">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message  dont-show">icareBnb: Room Enquiry for <%= current_user.first_name %></td>
                  <td class="view-message ">Request for a new room</td>
                  <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                  <td class="view-message  text-right">9:27 AM</td>
              </tr>
              <tr class="unread">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message dont-show">icareBnb: Confirming a booking</td>
                  <td class="view-message">Thank you <%= current_user.first_name %>!</td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">March 15</td>
              </tr>
              <tr class="">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message dont-show">icareBnb: Room Check</td>
                  <td class="view-message">Checking Availblilty for these dates <%= current_user.first_name %> </td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">March 15</td>
              </tr>
              <tr class="">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star"></i></td>
                  <td class="view-message dont-show">icareBnb: Room</td>
                  <td class="view-message">Hi <%= current_user.first_name %> we wanted to check...</td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">April 01</td>
              </tr>
              <tr class="">
                  <td class="inbox-small-cells">
                      <input type="checkbox" class="mail-checkbox">
                  </td>
                  <td class="inbox-small-cells"><i class="fa fa-star inbox-started"></i></td>
                  <td class="view-message dont-show">icareBnb user <%= current_user.first_name %> <span class="label label-danger pull-right">urgent</span></td>
                  <td class="view-message">Thank you for your response <%= current_user.first_name %> </td>
                  <td class="view-message inbox-small-cells"></td>
                  <td class="view-message text-right">May 23</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3 class="my-4">Confirmed bookings<i class="fas fa-check-circle main-colour ml-3"></i></h3>
        </div>

        <% current_user.bookings.each do |booking| %>
          <% if booking.confirmed %>

            <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch">
              <div class="card mb-5 card-radius">
                <img class="card-img-top card-image-radius" src=<%= booking.room.image_url %> alt="Card image cap">
                <div class="card-body">

                  <h5 class="card-title"><%= link_to room_path(booking.room), class:"card-title" do %>
              <%= booking.room.beds %> <%= booking.room.beds == 1 ? 'Bed' : 'Beds' %> - <%= booking.room.address  %></h5>
              <% end %></h5>
                  <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %> beds available</span></i>
                  <i class="fas fa-shower mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                  <i class="mr-2 my-2 main-colour"><span class="card-detail-text"><%= link_to "Details", booking_path(booking) %></span></i>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>






