<!-- HOST -->

<% if current_user.host %>


  <div class="container">

    <div class="row">
      <div class="col-12">
        <h1 class="text-center mt-5"> Welcome to your Host Dashboard, <%= current_user.first_name %>!</h1>
      </div>
      <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <%= link_to "Add a room", new_room_path, class: "nav-link btn btn-secondary my-2" %>
      </div>
    </div>


    <%= render "host_rooms", rooms: @rooms  %>


    <%= render "host_booking_requests", booking_requests: @booking_requests  %>


    <%= render "host_confirmed_bookings", bookings: @bookings %>


    <%= render "host_declined_bookings", bookings: @bookings %>


  </div>



<% else %>
    <!-- CHARITY -->

    <div class="container">

      <div class="row">

        <div class="col-12">
          <h1 class="text-center mt-5"> Welcome to your Charity Dashboard, <%= current_user.first_name %>!</h1>
        </div>
        <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <%= link_to "Search For A Room", search_path, class: "nav-link btn btn-secondary my-2" %>
        </div>
      </div>


      <%= render "charity_pending_bookings", charity_pending_bookings: @charity_pending_bookings %>



        <% unless @charity_confirmed_bookings.count.zero? %>
        <div class="row">
          <div class="col-12">
            <h3 class="my-4">Confirmed Bookings<i class="fas fa-check-circle main-colour ml-3"></i></h3>
          </div>
          <% @charity_confirmed_bookings.each do |booking| %>
          <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch">
            <div class="card mb-5 card-radius">
              <%= cl_image_tag booking.room.photo_url_or_default, alt: booking.room.address, class: "card-img-top card-image-radius" %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to room_path(booking.room), class:"card-title" do %>
                  <%= booking.room.beds %> <%= booking.room.beds == 1 ? 'Bed' : 'Beds' %> - <%= booking.room.address  %></h5>
                  <% end %></h5>
                  <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %> beds available</span></i>
                  <i class="fas fa-shower mr-2 mt-2 mb-4 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                  <br><i class="mr-2"><span class="card-detail-text btn btn-sm btn-secondary card-button"><%= link_to "Details", booking_path(booking) %></span></i>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          <% end %>
          <% unless @charity_declined_bookings.count.zero? %>
          <div class="row">
            <div class="col-12">
              <h3 class="my-4">Declined Bookings<i class="fas fa-times-circle main-colour ml-3"></i></h3>
            </div>
            <% @charity_declined_bookings.each do |booking| %>
            <div class="col-12 col-sm-6 col-lg-4 d-flex align-items-stretch">
              <div class="card mb-5 card-radius">
                <%= cl_image_tag booking.room.photo_url_or_default, alt: booking.room.address, class: "card-img-top card-image-radius" %>
                <div class="card-body">
                  <h5 class="card-title"><%= link_to room_path(booking.room), class:"card-title" do %>
                    <%= booking.room.beds %> <%= booking.room.beds == 1 ? 'Bed' : 'Beds' %> - <%= booking.room.address  %></h5>
                    <% end %></h5>
                    <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.beds %> beds available</span></i>
                    <i class="fas fa-shower mr-2 mt-2 mb-4 main-colour"><span class="card-detail-text">&nbsp <%= booking.room.facilities %> facilities</span></i>
                    <br><i class="mr-2 my-2 main-colour"><span class="card-detail-text btn btn-sm btn-secondary card-button"><%= link_to "Details", booking_path(booking) %></span></i>
                    <p>This booking has been declined by the host</p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
          <% end %>
