<div class="background" style="background-image: url(<%= asset_path "sleep.svg" %>)">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 offset-md-3 col-lg-8 offset-lg-4">
        <div class="mt-5 p-5 box-design">
          <h1>Search for a room</h1>
          <h5 class="mb-5">Please enter the below information then click search.</h5>
          <div class="form-group">
            <label for="Location">Location of guest:</label>
            <%= form_tag rooms_path, method: :get do %>
            <%= text_field_tag :location, params[:location], class: "form-control", placeholder: "Address, City or Postcode" %>
            <label for="Distance" class="mt-3">How far can the guest travel from their location?</label>
            <%= text_field_tag :radius, params[:radius], class: "form-control", placeholder: "In Miles" %>
            <div class="mt-4">
              <%= submit_tag "Search", class: "nav-link btn btn-secondary m-0" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


