<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mt-4 mb-2">
      <h1>Here are your results</h1>
    </div>
    <div class="col-12 col-lg-6 search-bar">
      <input class="form-control" type="text" placeholder="Change Search Location" aria-label="Search">
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
        <div class="card mb-3 card-radius">
          <img class="card-img-top card-image-radius" src="<%= room.image_url%>" alt="Card image cap">
          <div class="card-body">
            <h5>
              <%= link_to room_path(room), class:"card-title" do %>
              <%= room.beds %> bed in <%= room.postcode  %></h5>
              <% end %>
            <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= room.beds%> beds available</span></i>
            <i class="fas fa-map-marker-alt mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp 0.8 miles away</span></i>
            <i class="fas fa-shower mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp Shared facilities</span></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


