<div class="container">
  <div class="row">
    <div class="col-12 mt-4 mb-2">
      <h1>Here are your results...</h1>
    </div>
    <!-- <div class="col-12 col-lg-6 search-bar">
      <input class="form-control" type="integer" name="radius" placeholder="Change distance guest is willing to travel?" aria-label="Search">
    </div> -->
  </div>
  <div class="row">
    <div class="col-12 col-lg-3">
      <form action="/rooms" method="GET">
        <input type="hidden" name="location" value="<%= params[:location] %>">
        <input type="hidden" name="radius" value="<%= params[:radius] %>">
<!--         <div class="form-row">
          <div class="col-12 col-lg-4">
            <label for="Adults">Number of adults:</label>
            <input type="integer" name="adults">
          </div>
          <div class="col-12 col-lg-4">
            <label for="Children">Number of children:</label>
            <input type="integer" name="children">
          </div>
          <div class="col-12 col-lg-4">
            <label for="Infants">Number of infants:</label>
            <input type="integer" name="infants">
          </div>
        </div> -->
        <!-- <div class="form-row"> -->
          <div class="col-12 mb-3 px-0">
            <label for="Beds">Change number of beds:</label>
            <input type="integer" name="beds">
          </div>
          <div class="col-12 mb-3 px-0">
            <label for="Minimum stay">Change minimum stay:</label>
            <input type="integer" name="minimum_stay">
          </div>
          <div class="col-12 mb-4 px-0">
            <label for="Distance">Change distance:</label>
            <input type="integer" name="radius" value="<%= params[:radius] %>">
          </div>
          <div class="col-12 px-0">
            <button type="submit" class="mb-4 mx-0 nav-link btn btn-secondary">Submit</button>
          </div>
      <!--   </div> -->
      </form>
    </div>
    <div class="col-12 col-lg-9 mb-4">
      <div id="map" style="width: 100%; height: 300px; marker-color: red" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <% @rooms.each do |room| %>
      <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
        <div class="card mb-3 card-radius grow w-100">
          <%= link_to room_path(room) do %>
            <%= cl_image_tag room.photo_url_or_default, alt: room.address, class: "card-img-top card-image-radius" %>
          <% end %>
          <div class="card-body">
            <%= link_to room_path(room), class: "card-title" do %>
              <h5><%= room.beds %> <%= room.beds == 1 ? 'Bed' : 'Beds' %> - <%= room.address  %></h5>
            <% end %>
            <i class="fas fa-bed mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp <%= room.beds%> <%= room.beds == 1 ? 'Bed' : 'Beds' %> available</span></i>
            <i class="fas fa-map-marker-alt mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp 0.8 miles away</span></i>
            <i class="fas fa-shower mr-2 my-2 main-colour"><span class="card-detail-text">&nbsp Shared facilities</span></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


