<!-- Room show page -->

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-5">
        <h1><%= @room.beds %> <%= @room.beds == 1 ? 'Bed' : 'Beds' %> - <%= @room.address  %></h1>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <i class="fas fa-map-marker-alt mr-4 my-2 main-colour"><span class="card-detail-text">&nbsp 0.8 miles away</span></i><i class="fas fa-shower my-2 main-colour"><span class="card-detail-text">&nbsp <%= @room.facilities %> facilities</span></i>
      <%= link_to user_chatrooms_path(@room.user), class:'ml-3 main-colour', method: :post, target: "_blank" do %>
        <i class="fas fa-comments"></i> Chat with the host
      <% end %>
<!--       <%#= simple_form_for [@room.user, Chatroom.new] do |f| %>
        <%#= f.submit %>
      <%# end %> -->
      <p class="lead my-4"> <%= @room.description %></p>
      <%= cl_image_tag @room.photo_url_or_default, alt: @room.address, style: 'width:100%;max-height:315px;object-fit:cover;margin-bottom:50px;' %>
    </div>
    <div class="col-12 col-md-5 offset-md-1">
      <%= render "bookings/new", booking: @booking, room: @room  %>
      <!-- <%#= render "bookings/new", booking: @booking, room: @room, adults: params[:number_of_adults]  %> -->
    </div>
  </div>
</div>
