<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-5">
        <h1><%= @room.beds %> bed in <%= @room.address  %></h1>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <i class="fas fa-map-marker-alt mr-4 my-2 main-colour"><span class="card-detail-text">&nbsp 0.8 miles away</span></i><i class="fas fa-shower my-2 main-colour"><span class="card-detail-text">&nbsp <%= @room.facilities %> facilities</span></i>
      <p class="lead my-4"> <%= @room.description %></p>
      <%= image_tag @room.image_url, style: 'width:100%;max-height:315px;object-fit:cover;margin-bottom:50px;' %>
    </div>
    <div class="col-12 col-md-5 offset-md-1">
      <%= render "bookings/new" %>
    </div>
  </div>
</div>
