<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>icareBNB</title>
    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script>
      var pusher = new Pusher('<%= ENV['PUSHER_KEY'] %>', {
        cluster: 'eu',
        encrypted: true
      });
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <div id="page-container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
        <div id="content-wrap">
          <%= yield %>
        </div>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
